<!DOCTYPE html>
<html>
<head>
    <title>主页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mycss.css" rel="stylesheet">
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery-2.0.3.js"></script>

</head>
<body>

{% include 'includes/topbar.html' %}

<div class="container">
    <div class="page-header">
        <h2>热门标签</h2>
    </div>
    <ul class="inline">
        {% for tag in tags %}
        <li><a class="text-success label label-info" href="Tag/{{ tag.name }}" style="font-size: 18px;line-height: 24px">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>
</div>

</body>
</html>